<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login|Web2</title>
</head>
<body>
    <h1>Login</h1>
    <p>Selamat Datang di Halaman Login</p>
    {{ if .Error }}
        <p style="color:red">{{ .Error }}</p>
    {{ end }}
    <form action="/login" method="POST">
        <label for="username">Masukkan Username</label><br>
        <input type="text" name="username"><br><br>
        <label for="password">Masukkan Password</label><br>
        <input type="password" name="password"><br><br>
        <button type="submit">Login</button>
    </form><br>
    <a href="/register">Buat Akun</a>
</body>
</html>