<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
</head>
<body>
    <h1>Daftar Produk</h1>
    {{ if .Error }}
        <p style="color:red">{{ .Error }}</p>
    {{ end }}
    <a href="/produk/add">Tambah Produk</a>
    <table border="1">
        <tr>    
            <th>No</th>
            <th>Nama Produk</th>
            <th>Harga</th>
            <th>Stok</th>
            <th>Aksi</th>
        </tr>
        {{ if .Produk }}
            {{ range $i, $p := .Produk }}
            <tr>
                <td>{{ $i }}</td>
                <td>{{ $p.NamaProduk}}</td>
                <td>{{ $p.Harga }}</td>
                <td>{{ $p.Stok }}</td>
                <td>
                    <span>
                        <a href="/produk/edit?id={{ $p.NamaProduk }}">edit</a>
                        <a href="/produk/delete?id={{ $p.NamaProduk }}">delete</a>
                    </span>
                </td>
            </tr>
            {{ end }}
        {{ else }}
        <tr>
            <td colspan="5">Belum ada produk!</td>
        </tr>
        {{ end }}
    </table>
</body>
</html>