<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profil</title>
</head>
<body>
    <h1>Profil Akun</h1><br><br>
    <form>
        <input type="text" name="NamaDepan" placeholder="{{ .NamaDepan }}" disabled><br><br>
        <input type="text" name="NamaBelakang" placeholder="{{ .NamaBelakang }}" disabled><br><br>
        <input type="text" name="Username" placeholder="{{ .Username }}" disabled><br><br>
        <input type="text" name="Email" placeholder="{{ .Email }}" disabled>
    </form>
</body>
</html>